<link rel="stylesheet" href="/css/user_profile.css">

        <h1>Issuse Tracker</h1>

        <a href="/">Home</a>
        <a href="/sign_Up">Sign up</a>
        <a href="/sign_In">sign in</a>







