<h1>sign in</h1><br> 

<form action="/sign_In" method="post">
    <input type="email" placeholder="Enter email Address" name="email">
    <input type="password" placeholder="Enter Password" name="password">
    <button>Sign In</button>
</form>